.App {
  text-align: center;
  margin-bottom: 0;
  height: 100%;
  }

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

.App-intro {
  font-size: large;
  margin-top: 0;
  height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
